# Introdução<bR>

Resolução do Desafio do Curso da TERA "Projeto Tera : DESAFIO DE INFERÊNCIA"

<br>

O desafio proposto trata sobre o transtorno depressivo, um problema multifatorial que pode ter várias possíveis combinações de situações como causa.

<br>

Os dados disponíveis são resultados da NHNES (National Health and Nutrition Examination Survey), realizada anualmente nos EUA para avaliar a saúde e nutrição de adultos e crianças;

<br>

Perguntas sugeridas:
    
<br>

1- Qual o perfil de individuos (adultos maiores de 18 anos) com sintomas depressivos nos EUA no periodo entre 2005-2006

<br>

2- Hábitos saudáveis de alimentação e atividade física estão associados a menores índices de depressão nesta população?

# Dicionarios 
<br>

DEMO_PHQ.csv: banco de dados contendo 5334 observações de adultos pesquisados no NHANES 2005-2006: https://drive.google.com/file/d/1a4bGPp-ZY2zZlqtkF_b_E9cPwiFAUznj/view?usp=sharing

<br>

PAG_HEI.csv: banco de dados contendo 9424 observações de crianças e adultos pesquisados no NHANES 2005-2006: https://drive.google.com/file/d/1Qc63Z0t5v7zHKUszWOQlHVCwBWG1Ps7i/view?usp=sharing

# Carregando Bibliotecas

In [40]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

# Carregando DataSet

In [41]:
df_demo=pd.read_csv('DEMO_PHQ.csv')
df_pag=pd.read_csv('PAG_HEI.csv')

df_pag.head()

,SEQN,PAG_MINW,ADHERENCE,HEI2015C1_TOTALVEG,HEI2015C2_GREEN_AND_BEAN,HEI2015C3_TOTALFRUIT,HEI2015C4_WHOLEFRUIT,HEI2015C5_WHOLEGRAIN,HEI2015C6_TOTALDAIRY,HEI2015C7_TOTPROT,HEI2015C8_SEAPLANT_PROT,HEI2015C9_FATTYACID,HEI2015C10_SODIUM,HEI2015C11_REFINEDGRAIN,HEI2015C12_SFAT,HEI2015C13_ADDSUG,HEI2015_TOTAL_SCORE
0,31128,NaN,NaN,3.083350,0.0,3.927008,5.000000,0.000000,5.000000,4.251329,0.000000,2.487572,6.911882,10.000000,0.818029,6.408092,47.887262
1,31129,285.450346,2.0,1.697761,0.0,3.731602,4.929186,0.527631,3.887809,4.693141,0.928562,3.740758,6.146441,7.274979,8.006457,0.000000,45.564326
2,31130,0.000000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,31131,264.711316,2.0,3.115103,0.0,5.000000,1.320674,0.000000,3.141062,4.071959,2.052399,0.684985,2.297100,9.512964,0.438428,3.919226,35.553899
4,31132,1353.348730,3.0,3.509081,0.0,5.000000,5.000000,5.000000,4.448512,5.000000,0.000000,2.050769,7.369489,8.887880,8.186877,9.099088,63.551696

In [42]:
df_demo.head()

,SEQN,DPQ010,DPQ020,DPQ030,DPQ040,DPQ050,DPQ060,DPQ070,DPQ080,DPQ090,RIAGENDR,RIDAGEYR,RIDRETH1,DMDEDUC,INDFMINC
0,31130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,85,3,4,4.0
1,31131,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,44,4,4,11.0
2,31132,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,70,3,5,11.0
3,31134,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,73,3,3,12.0
4,31139,0.0,0.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,2,18,2,3,11.0

# Transformações nos Dados

Juntando os dois conjuntos de dados tendo como coluna comum a SEQN "Identificador único do respondente"

In [43]:
df=pd.merge(df_demo,df_pag,on='SEQN',how='left')
print(df.shape)
df.head()

(5334, 31)

,SEQN,DPQ010,DPQ020,DPQ030,DPQ040,DPQ050,DPQ060,DPQ070,DPQ080,DPQ090,...,HEI2015C5_WHOLEGRAIN,HEI2015C6_TOTALDAIRY,HEI2015C7_TOTPROT,HEI2015C8_SEAPLANT_PROT,HEI2015C9_FATTYACID,HEI2015C10_SODIUM,HEI2015C11_REFINEDGRAIN,HEI2015C12_SFAT,HEI2015C13_ADDSUG,HEI2015_TOTAL_SCORE
0,31130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,31131,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,3.141062,4.071959,2.052399,0.684985,2.297100,9.512964,0.438428,3.919226,35.553899
2,31132,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.000000,4.448512,5.000000,0.000000,2.050769,7.369489,8.887880,8.186877,9.099088,63.551696
3,31134,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.217331,2.313900,5.000000,1.268648,2.958985,0.000000,5.627488,5.863078,5.878686,42.886826
4,31139,0.0,0.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,...,0.211544,0.000000,4.088849,4.221442,10.000000,2.845774,0.000000,10.000000,9.658507,47.074393

In [44]:
def visualizar_faltantes(valor):
    print(f'Quantidade percentual de dados faltantes:')
    return (round(valor.isnull().sum()/valor.shape[0],4)*100).astype(str)+"%"
visualizar_faltantes(df)

Quantidade percentual de dados faltantes:

SEQN                                      0.0%
DPQ010                                   9.34%
DPQ020                                   9.34%
DPQ030                                   9.34%
DPQ040                                   9.34%
DPQ050                                   9.34%
DPQ060                                   9.34%
DPQ070                                   9.34%
DPQ080                                   9.34%
DPQ090                                   9.34%
RIAGENDR                                  0.0%
RIDAGEYR                                  0.0%
RIDRETH1                                  0.0%
DMDEDUC                                   0.0%
INDFMINC                                 0.88%
PAG_MINW                                  0.0%
ADHERENCE                                 0.0%
HEI2015C1_TOTALVEG          5.140000000000001%
HEI2015C2_GREEN_AND_BEAN    5.140000000000001%
HEI2015C3_TOTALFRUIT        5.140000000000001%
HEI2015C4_WHOLEFRUIT        5.140000000000001%
HEI2015C5_WHOLEGRAIN        5.140000000000001%
HEI2015C6_TOTALDAIRY        5.140000000000001%
HEI2015C7_TOTPROT           5.140000000000001%
HEI2015C8_SEAPLANT_PROT     5.140000000000001%
HEI2015C9_FATTYACID         5.140000000000001%
HEI2015C10_SODIUM           5.140000000000001%
HEI2015C11_REFINEDGRAIN     5.140000000000001%
HEI2015C12_SFAT             5.140000000000001%
HEI2015C13_ADDSUG           5.140000000000001%
HEI2015_TOTAL_SCORE         5.140000000000001%
dtype: object

Como existe uma quantidade baixa de valores fantantes, escolhi por remove-los.

In [45]:
df.dropna(inplace=True)
print(df.shape)
visualizar_faltantes(df)

(4702, 31)
Quantidade percentual de dados faltantes:

SEQN                        0.0%
DPQ010                      0.0%
DPQ020                      0.0%
DPQ030                      0.0%
DPQ040                      0.0%
DPQ050                      0.0%
DPQ060                      0.0%
DPQ070                      0.0%
DPQ080                      0.0%
DPQ090                      0.0%
RIAGENDR                    0.0%
RIDAGEYR                    0.0%
RIDRETH1                    0.0%
DMDEDUC                     0.0%
INDFMINC                    0.0%
PAG_MINW                    0.0%
ADHERENCE                   0.0%
HEI2015C1_TOTALVEG          0.0%
HEI2015C2_GREEN_AND_BEAN    0.0%
HEI2015C3_TOTALFRUIT        0.0%
HEI2015C4_WHOLEFRUIT        0.0%
HEI2015C5_WHOLEGRAIN        0.0%
HEI2015C6_TOTALDAIRY        0.0%
HEI2015C7_TOTPROT           0.0%
HEI2015C8_SEAPLANT_PROT     0.0%
HEI2015C9_FATTYACID         0.0%
HEI2015C10_SODIUM           0.0%
HEI2015C11_REFINEDGRAIN     0.0%
HEI2015C12_SFAT             0.0%
HEI2015C13_ADDSUG           0.0%
HEI2015_TOTAL_SCORE         0.0%
dtype: object

In [46]:
df.columns

Index(['SEQN', 'DPQ010', 'DPQ020', 'DPQ030', 'DPQ040', 'DPQ050', 'DPQ060',
       'DPQ070', 'DPQ080', 'DPQ090', 'RIAGENDR', 'RIDAGEYR', 'RIDRETH1',
       'DMDEDUC', 'INDFMINC', 'PAG_MINW', 'ADHERENCE', 'HEI2015C1_TOTALVEG',
       'HEI2015C2_GREEN_AND_BEAN', 'HEI2015C3_TOTALFRUIT',
       'HEI2015C4_WHOLEFRUIT', 'HEI2015C5_WHOLEGRAIN', 'HEI2015C6_TOTALDAIRY',
       'HEI2015C7_TOTPROT', 'HEI2015C8_SEAPLANT_PROT', 'HEI2015C9_FATTYACID',
       'HEI2015C10_SODIUM', 'HEI2015C11_REFINEDGRAIN', 'HEI2015C12_SFAT',
       'HEI2015C13_ADDSUG', 'HEI2015_TOTAL_SCORE'],
      dtype='object')

O proprio criador do data set sugere a criação de uma nova variavel que é a soma dos questionarios feitos "DPQ010 até DPQ090" e depois uma realização de um diagnostico baseado no valor desse SCORE.

<br>

Neste DataFrame os valores "7 = Se recusou a responder" e "9 = Não sabe" devem ser substituidos por NaN, ja que iremos realizar a soma dos questionario afim de fazer os "diagnoticos"

In [47]:
vrl_phq=df[['DPQ010', 'DPQ020',
       'DPQ030', 'DPQ040', 'DPQ050', 'DPQ060', 'DPQ070', 'DPQ080', 'DPQ090']]
vrl_phq

      DPQ010  DPQ020  DPQ030  DPQ040  DPQ050  DPQ060  DPQ070  DPQ080  DPQ090
1        0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
2        0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
3        0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
4        0.0     0.0     0.0     0.0     3.0     1.0     0.0     0.0     0.0
5        0.0     1.0     1.0     1.0     1.0     1.0     1.0     0.0     0.0
...      ...     ...     ...     ...     ...     ...     ...     ...     ...
5329     0.0     0.0     1.0     1.0     0.0     0.0     0.0     0.0     0.0
5330     0.0     2.0     0.0     1.0     1.0     2.0     1.0     3.0     0.0
5331     1.0     0.0     0.0     1.0     0.0     0.0     0.0     0.0     0.0
5332     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
5333     0.0     0.0     2.0     1.0     0.0     1.0     0.0     0.0     0.0

[4702 rows x 9 columns]

In [48]:
vrl_phq = vrl_phq.replace([7, 9], np.nan)
for coluna in vrl_phq.columns:
    print(f"{coluna}: {vrl_phq[coluna].unique()}")
df['phq_score']=vrl_phq.sum(axis=1)

DPQ010: [ 0.  1.  2.  3. nan]
DPQ020: [ 0.  1.  2.  3. nan]
DPQ030: [ 0.  1.  2. nan  3.]
DPQ040: [ 0.  1.  2. nan  3.]
DPQ050: [ 0.  3.  1.  2. nan]
DPQ060: [ 0.  1.  2.  3. nan]
DPQ070: [ 0.  1.  3.  2. nan]
DPQ080: [ 0.  1. nan  3.  2.]
DPQ090: [ 0.  1.  2.  3. nan]

In [49]:
df.drop(['DPQ010', 'DPQ020',
       'DPQ030', 'DPQ040', 'DPQ050', 'DPQ060', 'DPQ070', 'DPQ080', 'DPQ090'],axis=1,inplace=True)
print(df.shape)
df.head()

(4702, 23)

,SEQN,RIAGENDR,RIDAGEYR,RIDRETH1,DMDEDUC,INDFMINC,PAG_MINW,ADHERENCE,HEI2015C1_TOTALVEG,HEI2015C2_GREEN_AND_BEAN,...,HEI2015C6_TOTALDAIRY,HEI2015C7_TOTPROT,HEI2015C8_SEAPLANT_PROT,HEI2015C9_FATTYACID,HEI2015C10_SODIUM,HEI2015C11_REFINEDGRAIN,HEI2015C12_SFAT,HEI2015C13_ADDSUG,HEI2015_TOTAL_SCORE,phq_score
1,31131,2,44,4,4,11.0,264.711316,2.0,3.115103,0.000000,...,3.141062,4.071959,2.052399,0.684985,2.297100,9.512964,0.438428,3.919226,35.553899,0.0
2,31132,1,70,3,5,11.0,1353.348730,3.0,3.509081,0.000000,...,4.448512,5.000000,0.000000,2.050769,7.369489,8.887880,8.186877,9.099088,63.551696,0.0
3,31134,1,73,3,3,12.0,1011.478060,3.0,2.845772,1.283933,...,2.313900,5.000000,1.268648,2.958985,0.000000,5.627488,5.863078,5.878686,42.886826,0.0
4,31139,2,18,2,3,11.0,1729.145497,3.0,5.000000,0.000000,...,0.000000,4.088849,4.221442,10.000000,2.845774,0.000000,10.000000,9.658507,47.074393,4.0
5,31143,1,19,3,4,11.0,3768.083141,3.0,2.867000,0.389880,...,5.000000,3.372033,0.000000,0.002362,5.223435,7.787420,0.000000,10.000000,46.086131,6.0

In [50]:
df['phq_score'].describe()

count    4702.000000
mean        2.734368
std         3.744193
min         0.000000
25%         0.000000
50%         1.000000
75%         4.000000
max        27.000000
Name: phq_score, dtype: float64

In [51]:
var_num=[
    "RIDAGEYR",
    "INDFMINC",
    "PAG_MINW",
    "HEI2015C1_TOTALVEG",
    "HEI2015C2_GREEN_AND_BEAN",
    "HEI2015C3_TOTALFRUIT",
    "HEI2015C4_WHOLEFRUIT",
    "HEI2015C5_WHOLEGRAIN",
    "HEI2015C6_TOTALDAIRY",
    "HEI2015C7_TOTPROT",
    "HEI2015C8_SEAPLANT_PROT",
    "HEI2015C9_FATTYACID",
    "HEI2015C10_SODIUM",
    "HEI2015C11_REFINEDGRAIN",
    "HEI2015C12_SFAT",
    "HEI2015C13_ADDSUG",
    "HEI2015_TOTAL_SCORE",
    "phq_score"]

var_cat=[
    "RIAGENDR",
    "RIDRETH1",
    "DMDEDUC",
    "ADHERENCE",
    "phq_agrp"
]

In [52]:
def diagnostico(valor):
    if valor<5:
        return 'Sem Sintomas'
    elif 5<=valor<=9:
        return 'Sintomas Leves'
    elif 9<valor<=14:
        return 'Sintomas Moderados'
    elif 14<valor<=19:
        return 'Sintomas Moderadamentes Severes'
    elif valor>19:
        return 'Sintomas Severos'
    
df['phq_agrp']=df['phq_score'].apply(diagnostico)

# ANÁLISE EXPLORATÓRIA (EDA) UNIVARIADA

In [53]:
df['phq_agrp'].value_counts()

Sem Sintomas                       3726
Sintomas Leves                      684
Sintomas Moderados                  196
Sintomas Moderadamentes Severes      72
Sintomas Severos                     24
Name: phq_agrp, dtype: int64

In [54]:
# Função para separar idade
def idade(valor):
    if valor in range(0,13):
        return 'crianca'
    elif valor in range(12,18):
        return 'Adolescente'
    elif valor in range(18,30):
        return 'Jovem'
    elif valor in range(30,60):
        return 'Adulto'
    elif valor>59:
        return 'Idoso'

In [55]:
change_names = {
  "RIAGENDR": {1: 'Masculino', 2: 'Feminino'},
  "RIDRETH1": {1: 'Americano Mexicano', 2: 'Outro',
               3: 'Branco \n não hispânico', 4: 'Negro \n não hispânico'},
  "DMDEDUC": {1: "< 9 ano", 2: "9-12 ano", 3: "Ensino \n médio",
              4: "Superior \n incompleto", 5: "Superior \n completo"},
  "ADHERENCE": {1: 'Baixo', 2: 'Adequado', 3: 'Acima'},
}

df = df.replace(label_quali)

NameError: name 'df2' is not defined

In [ ]:
quartis = df['PAG_MINW'].quantile([0.25, 0.5, 0.75])
faixas = ['A', 'B', 'C', 'D']
df['PAG_MINW'] = pd.cut(df['PAG_MINW'],
                       bins=[0, quartis.iloc[0], quartis.iloc[1], quartis.iloc[2], float('inf')], 
                       labels=faixas)

In [ ]:
df.drop('Tempo Aerobica (min/sem)',axis=1,inplace=True)

In [ ]:
df

In [ ]:
df['phq_score']